@charset "UTF-8";

*   {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #F2DA99, #475CA6);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px, 5px, 15px, #b98f1a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A69158;
}

h2 {
    color: #b98f1a;
}

p {
    text-align: justify;
}